.items-listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.items{
    flex-direction: column;
    width: 30%;
}
.items .icon-container{
    margin-bottom: 25px;
}
.items .icon-container img{
    width: 58px;
    height: 58px;
}
.items .title{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.items .description{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
    font-size: 15px;
}
@media (max-width: 768px) {
    .items-listing{
        justify-content: center;
    }
    .items{
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }
}