/* Regular Font */
/* @font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
} */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");


/* General Style - Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #111111;
  background-color: #fff;
}
a,
a:active,
a:hover {
  text-decoration: none;
}
a {
  color: #111;
}
input,
button {
  border: none;
}
*:focus {
  outline: none;
}
button:hover,
a:hover {
  cursor: pointer;
}
.bg-white{
  background: #fff;
}
.bg-gray {
  background: #f4f4f6;
}
.white-color{
  color: #fff;
}
.black-color{
  color: #111;
}
.gray-color{
  color: #8a8a8a;
}
.purple-color{
  color: #614cab;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
section{
  padding: 100px 0 ;
}
section .main-container{
  max-width: 83%;
  margin: 0 auto;
}
span.text-with-stroke{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #614cab;
}
@media (max-width: 768px) {
  section .main-container {
    max-width: 90%;
  }
}